.App {
  text-align: center;
}

.text {
  font-size: 20px;
}

.img-thumbnail {
  padding: .15rem !important;
  background-color: #61dafb !important;
  border-radius: 50% !important;
}

.catImage {
  display: "flex";
  cursor: "pointer"
}

.catItem {
  display: none;
}

.App-body {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.cat1Cat2 {
  display: flex;
  cursor: pointer;
}

.score {
  color: #61dafb;
  font-size: 15px;
}

.App-link {
  color: #61dafb;
  font-size: 13px;
}

.CopyRight {
  position: absolute;
  left: 10px;
  bottom: 10px;
}

.imgCat {
  border-radius: 50% !important;
}

.btn {
  border-radius: 5px !important;
  font-size: 12px !important;
}

.imgListProfil {
  border-radius: 5px;
  box-shadow: -2px 1px 6px -2px rgba(17, 17, 17, 0.8);
  width: 9rem;
  height: 6rem;
}

.card {
  width: 18rem;
  height: 7rem;
  padding-left: 4px;
}

.container {
  display: flex;
}

.catMax {
  position: fixed;
  margin-left: 30rem;
}

.catMax img {
  width: 320px;
  height: 320px;
  border-radius: 5px;
  box-shadow: -2px 1px 6px -2px rgba(17, 17, 17, 0.8);
}

.btnReturn {
  margin-left: 40px;
}

.btnReturnSmallSize {
  display: none;
}

@media screen and (max-width: 555px) {
  .App-body {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center !important;
    font-size: calc(10px + 2vmin);
    color: white;
    margin-top: -8px;
  }
  .img-thumbnail {
    padding: .20rem !important;
    background-color: whitesmoke!important;
  }
  .text {
    color: whitesmoke !important;
    font-size: 15px;
  }
  .App-link {
    display: none;
  }
  .cat1Cat2 {
    display: block;
    cursor: pointer;
  }
  .catMax {
    display: none;
  }
  .ItemCats {
    margin-left: 100px !;
  }
  .btnReturnSmallSize {
    display: unset;
    position: fixed;
    margin-left: 60%;
    margin-right: 50%;
  }
}